@namespace h "http://www.w3.org/1999/xhtml";

@font-face {
  font-family: 'opendyslexic';
  src: url(fonts/OpenDyslexic3-Regular.ttf);
  font-style: normal;
  font-weight: bold;
}

body{
width: 1200px;
height: 1100px;	
margin: 0 0 0 0px;
padding: 0 0 0 0px;
}

div.fs {height:1100px; width:1200px; position: relative;}
.fs div.txt {position:absolute; background-repeat:no-repeat;}
.fs div {position:absolute; line-height:100%;}

.jstfy {text-align:justify;}
.jstfy:after {content:""; display:inline-block; width:100%;}

.leftspread {
padding: 0em;
margin-right: 0em;
}

.rightspread {
width: 800px;
height: 1100px;
padding: 0em;
margin-left: 0em;
}

nav h2{font-size: 40px; font-family: 'opendyslexic';}

nav ol{list-style-type:none;}

nav ol li {font-size: 30px; font-family: 'opendyslexic'; text-align: justify;}

.fnt1{font-size:40px; font-family:'opendyslexic'; font-weight: normal;}


.text1{
	position:absolute;
	top:50px;
	left:10px;
	width:600px; 
	height:700px;
}

.text1.img {
	width:650px;
	height:700px;
}

.text2{
	position:absolute;
	top:150px;
	left:700px; 
}

/*video {
	width:450; 
	height:500;
}*/

.text3{
	position:absolute;
	top:800px;
	left:0px;
}

.text4{
	position:absolute;
	top:860px;
	left:0px;
}

.text5{
	position:absolute;
	top:920px;
	left:0px;
}

.text6{
	position:absolute;
	top:980px;
	left:0px;
}

.text7{
	position:absolute;
	top:1040px;
	left:0px;
}

/*.text3{position:absolute;top:550px;left:100px;}
.text4{position:absolute;top:620px;left:100px;}
.text5{position:absolute;top:690px;left:100px;}
.text6{position:absolute;top:760px;left:100px;}
.text7{position:absolute;top:830px;left:100px;}
.text8{position:absolute;top:910px;left:100px;}*/


/*.text9{position:absolute;top:50px;left:50px;}
.text10{position:absolute;top:50px;left:450px;}
.text11{position:absolute;top:550px;left:100px;}
.text12{position:absolute;top:620px;left:100px;}
.text13{position:absolute;top:690px;left:100px;}
.text14{position:absolute;top:760px;left:100px;}*/



div.box{
top: 150px;
margin-top:1em;
margin-left:1em;
margin-right:0em;
margin-bottom:0.15em;
/*background:#FEE6EF;*/
background:white;
border-radius:25px;
border: 1.2px dotted #008796;
padding:12px;
font-size: 30px;
line-height: 45px;
}

ol.arabic{
margin-top: 0em;
margin-bottom: 0em;
margin-left: -1em;
margin-right: 0em;
list-style-type: none;
}

ol.arabic li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:justify;
color:#3698A1;
font-weight: bold;
}

