@charset "UTF-8";
/*
  ********************************************************************************************************************************
  Version:  2.3
  Date:  July 4, 2012
  Organization:  Digital Divide Data ("DDD"), http://www.digitaldividedata.org
  Author(s):  Ash Alluri (Product Development), Chhoy Vorng (Technical Solutions)
  Contributor(s):  Eric Gold (Sr. Project Manager), Thearen Lay (Software Developer), Jeferson Sese (Sr. Solutions Developer)
  *********************************************************************************************************************************
  DDD utilizes this standard stylesheet for all eBook conversion services and deliverables.  When DDD produces
  ePub and Kindle derivatives, we balance fidelity to the printed page layout against web standard best practices
  using this standard stylesheets.  This stylesheet can stand-alone and provide an exceptional eBook product that is aesthetic,
  readable and pleasant for the end-user.  Additionally, depending upon project-specific or
  or other customer-specific requirements, this stylesheet may be modified and further customized pre or post eBook production.
  **********************************************************************************************************************************
 */

@font-face {
font-family: 'GillSansMt';
font-style: normal;
font-weight: normal;
src: url(../fonts/GillSansMt-Schlbk.ttf);
}

@font-face {
font-family: 'GillSansMt';
font-style: normal;
font-weight: bold;
src: url(../fonts/GillSansMt-SchlbkBold.ttf);
}



body{
font-size: medium;
line-height: 1.2em;
margin-top: 1em;
margin-left: 1em;
margin-right: 1em;
font-family: 'GillSansMt';
moz-hyphens: none;
 -ms-hyphens: none;
 -webkit-hyphens: none;
hyphens: none;
}

div.chapter{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
}



a.hlink{
text-decoration: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.titlepage{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
}

p.titleimg{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:center;
}


div.copyright{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
font-size:0.9em;
}

p.indent{
margin-top: 0.15em;
margin-bottom: 0em;
margin-left: 0em;
text-indent: 1.5em;
margin-right: 0em;
text-align:justify;
}

p.nonindent{
margin-top: 0.15em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:justify;
}

p.crt{
margin-top: 0.8em;
margin-bottom: 0.8sem;
margin-left: 0em;
margin-right: 0em;
text-align: center;
}

p.crt01{
margin-top: 2em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align: justify;
}

p.crt02{
margin-top: 4em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align: justify;
}

h1.chapter-title{
margin-top: 4em;
margin-bottom: 1em;
margin-left: 0em;
margin-right: 0em;
text-align: center;
line-height: 1.2em;
font-weight: bold;
font-size: 1.5em;
color: #008796;
}

p.centerimg{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:center;
}

p.lineimg{
margin-top: 2.5em;
margin-bottom: 4em;
margin-left: 0em;
margin-right: 0em;
text-align:center;
}

img.line{
width: 100%;
}

table.text{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
width: 100%;
}

table.text td{
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
text-indent: 0em;
text-align:justify;
vertical-align: top;
}

h1.bm-label{
margin-top: 3em;
margin-bottom: 0.2em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-weight: bold;
font-size: 1.1em;
}

h1.bm-title{
margin-top: 0em;
margin-bottom: 0.5em;
margin-left: 0em;
margin-right: 0em;
text-align: left;
line-height: 1.2em;
font-weight: bold;
font-size: 1.1em;
}

ol.arabic{
margin-top: 0em;
margin-bottom: 0em;
margin-left: -1em;
margin-right: 0em;
}

ol.arabic li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:justify;
color:#3698A1;
font-weight: bold;
}

ol.upper-alpha{
margin-top: 0.20em;
margin-bottom: 0.20em;
margin-left: 1em;
margin-right: 0em;
list-style-type:upper-alpha;
}

ol.upper-alpha li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
list-style-type:upper-alpha;
}

ul.disc{
margin-top: 0em;
margin-bottom: 0em;
margin-left: -1em;
margin-right: 0em;
}

ul.disc li{
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-align:justify;
color:#3698A1;
font-weight: bold;
}

p.toc{
margin-top: 0.15em;
margin-bottom: 0em;
margin-left: 0em;
text-indent: 0em;
margin-right: 0em;
text-align: left;
}

img.title{
height: 100%;
}

div.box{
margin-top:1em;
margin-left:1em;
margin-right:0em;
margin-bottom:0.15em;
background:#FEE6EF;
border-radius:25px;
border: 1.2px solid #008796;
padding:12px;
}

p.center{
margin-top:0em;
margin-left:0em;
margin-right:0em;
margin-bottom:0em;
text-align:center;
font-size:1.2em;
color:#FE0088;
}

span.normal{
font-weight:normal;
color: black;
}

p.pagebreak{
page-break-after: always;

}